.listTasks {
  grid-area: tasks;
  height: 100%;

  ul {
    max-height: 350px;
    overflow-y: scroll;
    scrollbar-width: thin;
  }

  @media screen and (min-width: 1280px) {
    ul {
      overflow: auto;
      max-height: 500px;
    }
  }
}
